.carousel .carousel-container .carousel-slides .user-img img
{
	height: 100%;
}

.pagination
{
	height: 55px;
  overflow: hidden;
  & > li
	{
		float: right;
		padding-bottom: 5px;
	}
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.nav > li > a
	{
		padding: 5px 5px;
	}
	.conversation{
		.message {
			max-width: 100%;
		}
	}
	.md-pagination
	{
		padding: 0 50px;
		.col-xs-12
		{
			padding-left: 5px;
			padding-right: 5px;
		}
		li:first-child > a,
		li:last-child > a
		{
			min-width: 25px;
		}
	}
	.pagination
	{
		padding-right: 0px;
		li a,
		li span
		{
			padding: 8px 12px;
		}

	}

	.offers .offer-card .offer-user .user-img
	{
		display: none;
	}
	.offers .offer-card.offer-lg .offer-actions .icon
	{
		float: right;
		margin: 0 0 0 5px;
	}
	.offers .offer-card.offer-lg .offer-actions > a > span
	{
		margin: 0 0 0 0px;
		display: none;
	}
	.offers .offer-card .offer-user
	{
		margin-right: 5px;
	}
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	.pagination,
	.md-pagination li:first-child > a, .md-pagination li:first-child > span, .md-pagination li:last-child > a, .md-pagination li:last-child > span
	{
		margin-top: 10px;
	}
	.offers .offer-card .offer-user .user-img
	{
		display: none;
	}
	.offers .offer-card.offer-lg .offer-actions .icon
	{
		float: right;
		margin: 0 0 0 10px;
	}
	#goldenOffers
	{
		.masonry-item
		{
			&:last-child
			{
				display:none
			}
		}
	}
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
