.stores-box
{
	height:100%;
}
.stores-box > .clearfix
{
	margin:auto;
	width:100%;
	height:100%;
}
.stores-box img
{
	height:140px;
}
.sm-pull-left{
	float: left!important;
}

@media (max-width: 998px) {
	.stores_all_search_wrapper{
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.bidTopPrice{
		font-size: 26px;
	}


	.z-auction{
		&-top{
			.mini-avatar {
			    max-width: 50px;
			    max-height: 50px;
			}
		}
		&-timer{
			text-align: right;
			.time-remaining span strong{
				font-size: 2.5em;
			}
		}
		&-add{
			.text-left{
				text-align: right;
			}
		}
	}

	#productBids{

	}
	#goldenOffers{
		.masonry-item{
			width: 33.3333333333%;
		}
	}
}

@media (max-width: 685px) {
	#chat_body{
		.z-users-list{
			.list-reset{
				padding-top: 10px;
				.z-user{
					display: block;
					position: relative;
					&-name{
						font-size: 12px;
					}
					&-img{
						.xmini-avatar{
							max-width: 30px;
							max-height: 30px;
							border-radius: 10%;
						}
					}
					.user-status{
						position: absolute;
						right: -12px;
						top: 10px;
						margin: 0;
						border: 2px solid #fff;
						width: 10px;
						height: 10px;
						&.online{
							background-color: rgb(66, 183, 42);
						}
					}
				}
			}
		}
		.z-send{
			&-tex{
				padding-right: 5px;
				padding-left: 5px;
			}
			&-btn{
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}
	#goldenOffers{
		.masonry-item{
			width: 50%;
		}
	}
	.boxed-offers{
		.offer-card{
			width: 50%!important;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.offers-live
	{
		.offer-card{
			width: 100%!important;
		}
	}
	.std-nav .top-bar .quick-nav a{
		margin-left: 10px;
	}
}

@media (max-width: 485px){
	.sm-pull-left{
		float: none!important;
	}		
	.z-bid-form-text{
		width: 66.6666666667%;
	}
	.z-bid-form-bnt{
		width: 33.3333333333%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.z-xs-p-l-0{
		padding-left: 0;
	}
	.z-xs-p-r-0{
		padding-right: 0;
	}

}


@media (max-width: 480px){

	body,
	.user-cards .user-card .card-meta .btn.btn-sm, .offers .offer-card .card-meta .btn.btn-sm, .user-cards .user-card .card-meta .btn-group-sm > .btn, .offers .offer-card .card-meta .btn-group-sm > .btn
	{
		font-size: 12px;
	}
	.carousel.user-cards .carousel-slide
	{
  		min-width: 100px;
	}
	.truncate-145
	{
		width: 111px !important;
	}

	.offer-card.card-dp-2
	{
    	@include card(1);
	}
	// Standard Card
	.user-cards .user-card .card-img, .offers .offer-card .card-img{
		padding: 5px;
	}
	.offers-box .xxs-p-20
	{
		padding:10px;
	}
	.user-cards .user-card, .offers .offer-card {
		min-width: 90px;
		// padding: 0;
		width: 49.5%!important;
	}
	.half-window-height
	{
		height:25vh;
	}
	.card-meta .truncate-145 {
    width: 140px !important;
  }
  .offers-box
  {
		// margin-right: -15px;
		// margin-left: -15px;
  }

}